DB_URL = "mongodb+srv://danielruimar:<USER_PASSWORD>@dani000ruiz-cluster.syfxhuj.mongodb.net/?retryWrites=true&w=majority"
DB_NAME = "NODE-S-6-2-DEVELOPMENT / NODE-S-6-2-PRODUCTION"
JWT_SECRET = "***************"